*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 14px;
    font-family: sans-serif ;

}
body{
    font-size: 14px;
    line-height: 1.6;
 }

ul,li{
    list-style-type: none;
}
.dock-fill{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.scroll-y{
    overflow-y: scroll;:
}
.topBar{
    text-align: center;
    font-size: 1.6rem;
    padding: 15px 0;
}
.text-center{
    text-align: center;
}
.color-info{
    color: #ffba00;
}