<!-- JAVASCRIPTS -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- JQUERY -->
<script src="js/jquery/jquery-2.0.3.min.js"></script>
<!-- JQUERY UI-->
<script src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<!-- JQUERY FORM -->
<script src="js/jquery-form/jquery.form.js"></script>
<!-- BOOTSTRAP -->
<script src="bootstrap-dist/js/bootstrap.min.js"></script>
<script src="js/comfirm.js"></script>
<script src="js/alert.js"></script>


<!-- DATE RANGE PICKER -->
<script src="js/bootstrap-daterangepicker/moment.min.js"></script>

<script src="js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<!-- SLIMSCROLL -->
<script type="text/javascript" src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script><script type="text/javascript" src="js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
<!-- COOKIE -->
<script type="text/javascript" src="js/jQuery-Cookie/jquery.cookie.min.js"></script>
<!-- CUSTOM SCRIPT -->
<script src="js/script.js"></script>
<script>

    jQuery(document).ready(function() {
        App.setPage("groups");  //Set current page
        App.init(); //Initialise plugins and elements

        var pathname = window.location.pathname;
        var directLi = $('#sidebar a[href="'+ pathname+'"]').parent();
        if ( $(directLi).parent().hasClass('sub')) {
            var parent = $(directLi).parent().parent();
            $(parent).addClass('active');
        }
        $(directLi).addClass('active');
    });
</script>
<!-- /JAVASCRIPTS -->