<!-- JAVASCRIPTS -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- JQUERY -->
<script src="/js/jquery/jquery-2.0.3.min.js"></script>
<!-- JQUERY UI-->
<script src="/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<!-- JQUERY FORM -->
<script src="/js/jquery-form/jquery.form.js"></script>
<!-- BOOTSTRAP -->
<script src="/bootstrap-dist/js/bootstrap.min.js"></script>
<script src="/js/comfirm.js"></script>
<script src="/js/alert.js"></script>


<!-- DATE RANGE PICKER -->
<script src="/js/bootstrap-daterangepicker/moment.min.js"></script>

<script src="/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<!-- SLIMSCROLL -->
<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
<!-- COOKIE -->
<script type="text/javascript" src="/js/jQuery-Cookie/jquery.cookie.min.js"></script>
<!-- CUSTOM SCRIPT -->
<script src="/js/script.js"></script>
<script>

    jQuery(document).ready(function() {
        App.setPage("groups");  //Set current page
        App.init(); //Initialise plugins and elements

        /* 选中导航菜单nav */
        var pathname = window.location.pathname;
        var directLi = $('#sidebar a[href="'+ pathname+'"]').parent();
        var parent;
        if ( $(directLi).parent().hasClass('sub')) {
            var parent = $(directLi).parent().parent();
            $(parent).addClass('active');
        }
        $(directLi).addClass('active');
        /* 生成路径面包屑 */
        if (parent) {
            var parentLabel = $(parent).find('span[class=menu-text]').text();
            $('#breadcrumb').append('<li><a href="#">' + parentLabel + '</a></li>');
        }
        var directLabel = $(directLi).find('span').text();
        $('#breadcrumb').append('<li>' + directLabel + '</li>');

        /* content-title */
        $('#content-title').text(directLabel);

        /* 退出动作 */
        $('#logoutBtn').on('click', function () {
            $('#logoutForm').trigger('submit');
        })


        $('.pagination').find('li').on('click', function () {
            var li = $(this);
            if ($(li).hasClass('disabled') || $(li).hasClass('active')) {
                return false;
            }
            var page = $(li).find('a').attr('data-page-number');
            var url = window.location.href;
            var search = window.location.search;
            // 如果url中不包含page=n，那么添加page=page参数
            // 如果url中包含page=n，那么更新page=page参数

            var urlPage = $.getUrlVars()["page"];
            if (urlPage) {
                var reg = new RegExp("[\\?|&]page=\\d+");
                var r = search.match(reg);
                console.log(r);
                var correct = r[0].replace(urlPage, page);
                search = search.replace(reg, correct);
                var href = window.location.origin+window.location.pathname+search;
                window.location.href = href;

            } else {
                if (url.indexOf("?") > 0) {
                    window.location.href = url + "&page="+page;
                } else {
                    window.location.href = url + "?page="+page;
                }

            }

        });


    });
</script>
<!-- /JAVASCRIPTS -->