<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
	<div class="sidebar-menu nav-collapse">
		<div class="divide-20"></div>

		<!-- SIDEBAR MENU -->
		<ul>
			<li class="has-sub">
				<a href="javascript:;" class="">
				<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">权限管理</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a class="" href="/groups"><span class="sub-menu-text">分组</span></a></li>
					<li><a class="" href="/users"><span class="sub-menu-text">用户</span></a></li>
				</ul>
			</li>
		</ul>
		<!-- /SIDEBAR MENU -->
	</div>
</div>
<!-- /SIDEBAR -->