<!-- SIDEBAR -->
<div id="sidebar" class="sidebar" style="top: 34px;">
	<div class="sidebar-menu nav-collapse">
		<!-- SIDEBAR MENU -->
		<ul>
			<li>
				<a href="/monitoring" class="">
					<i class="fa fa-bar-chart-o"></i> <span class="menu-text">性能监控</span>
				</a>
			</li>
			<li class="has-sub">
				<a href="javascript:;" class="">
				<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">权限管理</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a class="" href="/groups"><span class="sub-menu-text">分组</span></a></li>
					<li><a class="" href="/users"><span class="sub-menu-text">用户</span></a></li>
				</ul>
			</li>
			<li>
				<a href="/persons" class="">
					<i class="fa fa-users"></i> <span class="menu-text">参保人员管理</span>
				</a>
			</li>
			<li>
				<a href="/companies" class="">
					<i class="fa fa-copy"></i> <span class="menu-text">企业管理</span>
				</a>
			</li>
		</ul>
		<!-- /SIDEBAR MENU -->
	</div>
</div>
<!-- /SIDEBAR -->